* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
section {
  margin-left: 2rem;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
section > div {
  height: 100vh;

  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#items__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
  min-height: 60vh;

  flex-wrap: wrap;

  padding-bottom: 2rem;
  gap: 5%;
}

.item {
  width: 190px;
  height: 280px;

  border: 2px solid lightgray;
  border-radius: 8px;

  padding: 16px;
  margin: 12px;
  margin-bottom: 16px;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 0px 20px 1px lightgray;
}

#last__element {
  width: 100%;
  height: 2px;
  background-color: red;
}

@media screen and (max-width: 600px) {
  #items__container {
    justify-content: center;
  }
  .item {
    margin: 8px;
    width: 130px;
  }
}
